html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 0.03em;
}

/* .container {
  position: fixed;
  inset: 0;
  padding: 16vh 0;
  overflow: scroll;
  background: #f4f4f4;
} */

.universe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(108px * 1);
}

.title {
  position: absolute;
  bottom: 817px;
  /* bottom: 816px; */
  /* bottom: 808px; */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  opacity: 0.8;
  z-index: 100;
}

.title .main {
  font-size: 21px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.title .sub {
  font-size: 12px;
  text-transform: uppercase;
}

/*

you

*/

.you {
  position: absolute;
  bottom: 532px;
  left: 1px;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  transform: scale(1.2);
}

.you .head {
  font-size: 26px;
}

.you .body {
  margin-top: -13px;
}

/*

big bloom

*/

.big-bloom {
  --size: 76px;
  width: var(--size);
  height: var(--size);

  background-color: white;
  border-radius: 1000px;
  border: 1px solid #333;

  position: absolute;
  /* bottom: calc(var(--size) * 1.6); */
  bottom: 118px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  /* z-index: 1; */

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.9;
}

.big-bloom .labels {
  position: relative;
  top: calc(var(--size) * 1.048);
  left: 1px;
  font-size: 14px;
  /* margin: -4px -36px 0; */
  /* width: 1000px; */
  height: 1rem;
  /* border: 1px solid #333; */
  opacity: 0.8;
  text-align: center;
}
/* .big-bloom .labels .left {
  position: absolute;
  right: 100%;
}
.big-bloom .labels .right {
  position: absolute;
  left: 100%;
} */

.raybox {
  position: absolute;
  inset: -26px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.ray {
  width: 16px;
  height: 1px;
  background-color: #333;
  opacity: 0.9;
  transform: translateY(-50%);
}

/*

complexities

*/

.complexities {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;

  overflow: hidden;

  color: #111;

  opacity: 0.8;
  mix-blend-mode: multiply;
}

.complexity {
  height: 108px;
  /* padding: 0 15px; */

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border-bottom: 1px dotted #777b; */
  border-bottom: 1px dotted #111b;
}
.complexity:first-child {
  border-top: 1px dotted #111b;
}
.complexity .side {
  /* transform: scale(0.75); */
  /* opacity: 0.95; */
  display: flex;
  /* align-items: center; */
  /* text-align: center; */

  width: 140px;
}
.complexity .side.left {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 34px;

  text-align: left;
}
.complexity .side.right {
  flex-direction: column;
  gap: 5px;

  /* text-align: right; */
  text-align: center;
  padding-right: 10px;
}

.complexity .name {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  opacity: 0.8;
}
.complexity .science {
  font-size: 11px;
  text-transform: uppercase;
  /* margin-right: -2px; */
}
.complexity .dimension {
  font-size: 13px;
  /* text-transform: uppercase; */
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  opacity: 0.8;

  text-align: right;
  width: 25px;
}
.complexity .dimension.infinity {
  font-size: 40px;
}
.complexity .shape {
  font-size: 17px;
  /* margin-left: -2px; */
  /* white-space: pre; */
  position: relative;
  top: -1px;
}
.complexity .simplex {
  margin-top: 5px;
  opacity: 0.88;
}

/* named hacks */

/* .complexity.beyond .side,
.complexity.nothing .side {
  opacity: 0.5;
} */

/* .complexity.beyond,
.complexity.nothing {
  opacity: 0.5;
  border-bottom: none;
} */
/* .complexity.mind {
  border-top: 1px dotted #111b;
} */

/* .complexity.beyond {} */
/* .complexity.beyond .side {} */
/* .complexity.nothing {
  border-bottom: none;
} */
/* .complexity.nothing .side {} */

/*

nests

*/

.nests {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 634px;
  overflow: hidden;

  opacity: 0.75;

  position: absolute;
  bottom: 155px;
  left: 50%;
  transform: translateX(-50%);
}

.layer {
  padding: 12px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;

  position: relative;
}

.layer.left {
  padding-right: 0;
  align-items: end;
  border-bottom-right-radius: 0px !important;
}

.layer.right {
  padding-left: 0;
  align-items: start;
  border-bottom-left-radius: 0px !important;
}

.label {
  width: 128px;
  padding: 0 5px 1px;
  margin-top: -1px;
  line-height: 2.25em;
  text-align: center;
  font-size: 14px;
  border-radius: 50px;
  align-self: center;
}

.i-0 > .label {
  padding-bottom: 1px;
}

.left .label {
  margin-right: 18px;
  /* text-align: right; */
}

.right .label {
  margin-left: 18px;
  /* text-align: left; */
}

.curve {
  position: absolute;
  background-color: transparent;
  height: 100px;
  width: 100px;
}

.curve.bottom {
  bottom: -101px; /* + border */
}
.curve.top {
  top: -1px; /* + border */
}

/* nest borders */

.layer.left {
  border: 1px solid #444;
  border-right: none;
}

.layer.right {
  border: 1px solid #444;
  border-left: none;
}

.left .curve {
  border: 1px solid #444;
  border-left: none;
  border-bottom: none;
}

.right .curve {
  border: 1px solid #444;
  border-right: none;
  border-bottom: none;
}
