html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 0.03em;
}

.container {
  position: fixed;
  inset: 0;
  padding: 5vh 0;
  overflow: scroll;
  background: #efefef;
}

.universe {
  position: relative;
}

/* you */

.you {
  position: absolute;
  top: 130px;
  left: 1px;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.you .head {
  margin-top: 88px;
  font-size: 24px;
}

.you .body {
  margin-top: -11px;
}

/* big bloom */

.big-bloom {
  width: 120px;
  height: 120px;

  background-color: white;
  border-radius: 1000px;
  border: 1px solid #333;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 85%);
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.raybox {
  position: absolute;
  inset: -20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.ray {
  width: 12px;
  height: 1px;
  background-color: #666;
}

/* nests */

.nests {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 637px;
  overflow: hidden;
}

.layer {
  padding: 12px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;

  position: relative;
}

.layer.left {
  padding-right: 0;
  align-items: end;
  border-bottom-right-radius: 0px !important;
}

.layer.right {
  padding-left: 0;
  align-items: start;
  border-bottom-left-radius: 0px !important;
}

.label {
  width: 128px;
  padding: 0 5px 1px;
  margin-top: -1px;
  line-height: 2.25em;
  text-align: center;
  font-size: 14px;
  border-radius: 50px;
  align-self: center;
}

.left .label {
  margin-right: 18px;
  /* text-align: right; */
}

.right .label {
  margin-left: 18px;
  /* text-align: left; */
}

.curve {
  position: absolute;
  background-color: transparent;
  height: 100px;
  width: 100px;
}

.curve.bottom {
  bottom: -101px; /* + border */
}
.curve.top {
  top: -1px; /* + border */
}

/* nest borders */

.layer.left {
  border: 1px solid #444;
  border-right: none;
}

.layer.right {
  border: 1px solid #444;
  border-left: none;
}

.left .curve {
  border: 1px solid #444;
  border-left: none;
  border-bottom: none;
}

.right .curve {
  border: 1px solid #444;
  border-right: none;
  border-bottom: none;
}
